.root {
    width: 100vw;
    height: 100vh;
    // min-height: -webkit-fill-available;
    overflow-x: hidden;
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        width: 0;
    }
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    @media screen and (max-width: 600px) {
        position: relative;
        background-color: white;
    }
}