.root {
    .fontPreloader{
        visibility: hidden;
        position: absolute;
    }
    
    span {
        font-size: 1.2rem;
        margin: 0 1rem;
        cursor: pointer;

        &.active {
            font-weight: bold;
        }
    }
}