.root {
    padding: 1rem 2rem;
    background-color: #ff6c00;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.8rem;
    box-shadow: 0 5px 5px -2px #444444a4;
    transition: all .5s ease;
    &:hover {
        background-color: #d65a02;
    }
}