.header {
    font-size: 3rem;
    border-bottom: 1px solid gray;
    margin: 1rem 0;
    padding: 0 2rem;
    
    .title {
        opacity: 0;
        transform: translateX(40px);
        animation: apearFromRight 2s ease forwards;
    }
}
.subHeader {
    font-size: 1.5rem;
    margin-top: 2rem;
}


@keyframes apearFromRight {
    0% {
        opacity: 0;
        transform: translateX(40px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}