.root {
    position: fixed;
    left: 2rem;
    bottom: 0;
    padding: .5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color .5s ease;
    &:hover {
        background-color: #efefef8e;
    }
}
.button {
    color: #727272c7;
    transition: color .5s ease;
    &:hover {
        color: #333;
    }

}