.root {
    position: fixed;
    right: 8rem;
    bottom: 2rem;
    padding: .5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color .5s ease;
    z-index: 300;
    background-color: #4f8c4f;
    &:hover {
        background-color: #4f8c4f88;
        .button{
            color: #333;
        }
    }
    .button {
        color: white;
        transition: color .5s ease;
    
    }
}