.ClassesScreen,
.InfoScreen,
.GroupsScreen,
.AboutScreen,
.ProgramsScreen,
.ToursScreen,
.GalleryScreen,
.HomeScreen,
.ArticlesScreen,
.ContactsScreen {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 7rem 4rem;
    padding-right: 20rem;
    padding-bottom: 4rem;
    @media screen and (max-width: 600px) {
        padding: 2rem;
    }
}

.HomeScreen{
    padding: 2rem;
    // padding-right: 20rem;
    display: flex;
    flex-direction: column;
    background: url('../../../assets/images/home/home1.jpg') center center/ cover no-repeat fixed;
    .logo{
        position: fixed;
        left: 2rem;
        top: 1.5rem;
        z-index: 100;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        .image{
            width: 4rem;
            height: 4rem;
        }
        .title{
            margin-left: 2rem;
            font-size: 2rem;
        }
    }
    .content{
        display: flex;
        flex-grow: 1;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        margin: 1rem auto;
        padding-top: 6rem;
        
        .title {
            background-color: #fcfcfc99;
            padding: 2rem;
        }
        .info{
            color: #444;
            font-size: 6rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        .secondaryInfo {
            font-size: 1.3rem;
        }
    }
    .next{
        display: flex;
        flex-direction: column;
        align-items: center;
        .button{
            position: relative;
            padding: 0 3rem;
            font-size: 1.5rem;
            border: 1px solid transparent;
            transition: all 1s ease;
            
            &:hover{
                border-color: #333;
            }
        }
        .icon-container{
            display: block;
            font-size: 2rem;
            color: rgba(100, 100, 100, .5);
            .icon{
                cursor: pointer;
                animation: 5s ease infinite iconDown;
            }
        }
    }
}

@keyframes iconDown {
    0% {
        transform: translateY(0)
    }
    20%{
        transform: translateY(20px)
    }
    50%{
        transform: translateY(0)
    }
}

.InfoScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
        padding: 3rem;
        font-size: 1.5rem;
    }
}

.GroupsScreen{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &.active {
        .content{
            opacity: 1;
            .text{
                transform: translateX(0px);
                opacity: 1;
            }
            .link{
                transform: translateX(0px);
                opacity: 1;
            }
        }
    }

    .image{
        width: 80%;
        height: 90%;
        background: radial-gradient(circle 30vw at 100% 20%, #efefef 5%, transparent), 
        url('../../../assets/images/home/groups.jpg') center center/ cover no-repeat;
    }
    .content {
        position: absolute;
        top: 7rem;
        right: 20rem;
        display: flex;
        max-width: 70%;
        padding: 2rem;
        background-color: #d2d2d2a4;
        flex-direction: column;
        align-items: flex-end;
        opacity: 0;
        transition: all 1.5s ease .5s;
        .text{
            width: 80%;
            font-size: 1.5rem;
            margin-left: auto;
            transform: translateX(-60px);
            opacity: 0;
            transition: all 1s ease .5s;
        }
        .link{
            margin: 1rem 6rem 0 0;
            transform: translateX(30px);
            opacity: 0;
            transition: all 1s ease .5s;
         }
    }
    
}

.ProgramsScreen{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    &.active {
        .content{
            transform: translateX(0);
            opacity: 1;
        }
    }

    .image{
        width: 80%;
        height: 90%;
        margin-left: auto;
        background: radial-gradient(circle 50vw at -20% 90%, #efefef 10%, transparent), 
        url('../../../assets/images/home/programs.jpg') right bottom/ cover no-repeat;
    }
    
    .content {
        position: absolute;
        top: 7rem;
        left: 7rem;
        padding: 3rem;
        background-color: #d2d2d2a4;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transform: translateX(-50px);
        transition: all 1s ease .5s;
        .text{
            font-size: 1.5rem;
            opacity: 1;
        }
        .link{
            margin-top: 2rem;
            opacity: 1;
         }
    }
}


.ClassesScreen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    &.active {
        .content{
            transform: translateX(0);
            opacity: 1;
        }
    }

    .image{
        width: 80%;
        height: 90%;
        margin-right: auto;
        background: radial-gradient(circle 30vw at 100% 100%, #efefef 10%, transparent), 
        url('../../../assets/images/home/classes.jpg') left top/ cover no-repeat;
    }
    
    .content {
        position: absolute;
        bottom: 7rem;
        right: 20rem;
        padding: 3rem;
        background-color: #d2d2d2a4;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transform: translateX(50px);
        transition: all 1s ease .5s;
        .text{
            font-size: 1.5rem;
            opacity: 1;
        }
        .link{
            margin-top: 2rem;
            opacity: 1;
         }
    }
}


.ToursScreen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    &.active {
        .content{
            transform: translateY(0);
            opacity: 1;
        }
    }

    .image{
        width: 80%;
        height: 90%;
        margin-right: auto;
        background: radial-gradient(circle 30vw at 100% 100%, #efefef 10%, transparent), 
        url('../../../assets/images/home/tours.jpg') center center/ cover no-repeat;
    }
    
    .content {
        position: absolute;
        bottom: 7rem;
        right: 20rem;
        padding: 1rem;
        background-color: #d2d2d2a4;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease .5s;
        .text{
            font-size: 1.5rem;
        }
        .link{
            margin: 2rem 2rem 0 auto;
         }
    }
}

.GalleryScreen{
    display: flex; 
    flex-flow: column nowrap;
    &.active {
        .content{
            transform: translateY(0);
            opacity: 1;
        }
    }
    .images {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        .image{
            position: relative;
            box-shadow: 0px 20px 20px rgba(0,0,0,.5);
            cursor: pointer;
            filter: brightness(1.1);
            transition: all .7s ease;
            &:hover{
                filter: brightness(1.25);
                box-shadow: 0px 30px 30px rgba(0,0,0,.4);
            }
        }
        .image-1{
            width: 23rem;
            height: 30rem;
            background: url('../../../assets/images/home/gallery-1.jpg') left top/ cover no-repeat;
            transform: rotate(-5deg);
            z-index: 3;
            &:hover {
                z-index: 10;
                transform: rotate(-5deg) scale(1.03);
            }
        }
        .image-2{
            width: 30rem;
            height: 23rem;
            background: url('../../../assets/images/home/gallery-2.jpg') left top/ cover no-repeat;
            transform: rotate(3deg);
            z-index: 2;
            &:hover {
                z-index: 10;
                transform: rotate(3deg) scale(1.03);
            }
        }
        .image-3{
            width: 23rem;
            height: 30rem;
            background: url('../../../assets/images/home/gallery-3.jpg') left top/ cover no-repeat;
            transform: rotate(12deg) translateY(20px);
            z-index: 1;
            &:hover {
                z-index: 10;
                transform: rotate(12deg) translateY(20px) scale(1.03);
            }
        }
    }
    .content {
        flex-grow: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 1.5s ease .5s;
        .text{
            font-size: 1.5rem;
        }
        .link{
            margin-top: 3rem;
         }
    }
}


.AboutScreen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    &.active {
        .content{
            transform: translateY(0);
            opacity: 1;
        }
    }

    .image{
        width: 80%;
        height: 90%;
        margin: 0 auto;
        background: url('../../../assets/images/home/about.png') center top/ cover no-repeat;
        box-shadow: 0 15px 20px -5px;
    }
    
    .content {
        flex-grow: 1;
        padding: 1rem;
        display: flex;
        margin: 0 auto;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        opacity: 0;
        transition: all 1.5s ease .5s;
        .text{
            font-size: 1.5rem;
        }
        .link{
            margin-top: 2rem;
         }
         .footer {
            align-self: stretch;
            padding-top: 3rem;
            font-size: 2rem;
            color: #333;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            a{
                transition: all .3s ease;
                &:hover{
                    transform: scale(1.3)
                }
            }
        }
    }
}

.ArticlesScreen {

    &.active {
        .content{
            transform: translateY(0);
            opacity: 1;
        }
    }
    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        background: url('../../../assets/images/home/articles.jpg') bottom left / cover no-repeat;

        .content {
            margin-top: 5rem;
            transition: all 1s ease .5s;
            transform: translateY(30px);
            opacity: 0;
            .text {
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
        }
    }
}

.ContactsScreen {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    &.active{
        .socials{
            a{
                opacity: 1;
                transform: translateY(0)
            }
        }
    }

    & > div {
        margin: 1rem 0;
    }

    .email {
        a{
            display: flex;
            align-items: center;
            svg {
                transform: translateY(3px)
            }
            p {
                margin: 0 0 0 2rem;
            }
        }
    }
    .phone{
        p {
            margin: 0 0 0 1rem;
        }
    }

    .socials{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-evenly;
        a{
            transition: all .8s ease;
            transform: translateY(20px)
        }
        .facebook{
            opacity: 0;
            transition-delay: .5s;
        }
        .google{
            opacity: 0;
            transition-delay: .6s;
        }
        .instagram{
            opacity: 0;
            transition-delay: .7s;
        }
        .twitter{
            opacity: 0;
            transition-delay: .8s;
        }
    }
}