.ClassesScreen,
.InfoScreen,
.AboutScreen,
.ProgramsScreen,
.ToursScreen,
.GalleryScreen,
.HomeScreen,
.ArticlesScreen,
.ReviewsScreen,
.ContactsScreen {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 7rem 4rem;
    padding-bottom: 4rem;
    @media screen and (max-width: 600px) {
        padding: 0rem;
        padding-top: 2rem;
    }
}

.HomeScreen{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: url('../../../assets/images/home/home1-min.jpg') center center/ cover no-repeat fixed;
    .logo{
        position: fixed;
        left: 2rem;
        top: 1.5rem;
        z-index: 100;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        .image{
            width: 4rem;
            height: 4rem;
        }
        .title{
            margin-left: 2rem;
            font-size: 2rem;
        }
    }
    .content{
        display: flex;
        flex-grow: 1;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        margin: 1rem auto;
        padding: 1rem 0;
        
        .title {
            width: 85%;
            margin: 0 auto;
            background-color: #fcfcfc99;
            padding: 2rem;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
        .info{
            color: #444;
            font-size: 4rem;
            text-transform: uppercase;
            font-weight: bold;
            pre {
                margin: 0;
            }
            @media screen and (max-width: 600px) {
                font-size: 4rem;
            }
        }
        .secondaryInfo {
            font-size: 1.8rem;
            margin: 1rem auto;
        }
        .subscribe{
            .testRegisterButton {
                padding: 1rem 2rem;
                background-color: #ff6c00;
                color: white;
                cursor: pointer;
                border-radius: 5px;
                font-size: 1.8rem;
                box-shadow: 0 5px 5px -2px #444444a4;
                transition: all .5s ease;
                &:hover{
                    background-color: #d65a02;
                }
            }
        }
    }
    .next{
        display: flex;
        flex-direction: column;
        align-items: center;
        .button{
            position: relative;
            font-weight: bold;
            font-size: 1.5rem;
            color: #333;
            background-color: #fcfcfc99;
            padding: .5rem 2rem;
        }
        .icon-container{
            display: block;
            font-size: 1.8rem;
            color:#333;
            .icon{
                animation: 5s ease infinite iconDown;
            }
        }
    }
}

@keyframes iconDown {
    0% {
        transform: translateY(0)
    }
    20%{
        transform: translateY(20px)
    }
    50%{
        transform: translateY(0)
    }
}

.InfoScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    &__header {
        font-size: 3rem;
    }
    &__subHeader {
        width: 70%;
        font-size: 2rem;
    }
    .text {
        padding: 3rem;
        font-size: 1.5rem;
    }
    .wrapper {
        background-color: #0f5812b3;
        padding: 5rem 3rem;
        color: white;
        .element {
            opacity: 0;
            transform: translate3d(0, 30px, 0);
            transition: all 1s cubic-bezier(.2, .69, .49, .95);
            will-change: transform, opacity;
            &:nth-child(1) {
                transition-delay: .1s;
            }
            &:nth-child(2) {
                transition-delay: .2s;
            }
            &:nth-child(3) {
                transition-delay: .3s;
            }
            .title{
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            .subtitle {
                font-size: 1.3rem;
            }
        }
        &.visible {
            .element {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        
    }
    &__footer{
        .button{
            position: relative;
            font-weight: bold;
            font-size: 1.5rem;
            color: #333;
            padding: .5rem 2rem;
        }
        .icon-container{
            display: block;
            font-size: 1.8rem;
            color:#333;
            .icon{
                animation: 5s ease infinite iconDown;
            }
        }
    }
}

.ProgramsScreen{
    display: flex;
    .imageContainer {
        position: relative;
        overflow: hidden;
        &.visible {
            .imageDamper {
                transform: translate3d(100%, 0, 0);
            }
        }
        .imageDamper {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #efefef;
            will-change: transform;
            transform: translate3d(0,0,0);
            transition: all 1s cubic-bezier(.2, .69, .49, .95);
        }
        .image{
            display: block;
            width: 100%;
            height: 100%;
            margin-left: auto;
            background: url('../../../assets/images/home/programs-min.jpg') right center/ cover no-repeat ;
            @media screen and (max-width: 600px) {
                width: 100%;
                height: 92%;
            }
        }
    }
    .content {
        padding: 2rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        & > div {
            opacity: 0;
            transform: translateY(30px);
            transition: all 1s cubic-bezier(.2, .69, .49, .95);
            will-change: transform, opacity;
        }
        &.visible {
            & > div {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .header{
            font-size: 2rem;
            font-weight: bold;
            transition-delay: .1s;
        }
        .text {
            text-align: left;
            margin: 1rem auto;
            transition-delay: .2s;
        }
        .link{
            margin-top: 2rem;
            transition-delay: .3s;
        }
        @media screen and (max-width: 600px) {
            left: 0;
            width: 80%;
            font-size: 1.2rem;
        }
    }
    &__footer{
        .button{
            position: relative;
            font-weight: bold;
            font-size: 1.5rem;
            color: #333;
            padding: .5rem 2rem;
        }
        .icon-container{
            display: block;
            font-size: 1.8rem;
            color:#333;
            .icon{
                animation: 5s ease infinite iconDown;
            }
        }
    }
}

.ClassesScreen{
    display: flex;
    padding-bottom: 7rem;
    .imageContainer {
        position: relative;
        overflow: hidden;
        &.visible {
            .imageDamper {
                transform: translate3d(-100%, 0, 0);
            }
        }
        .imageDamper {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #efefef;
            will-change: transform;
            transform: translate3d(0,0,0);
            transition: all 1s cubic-bezier(.2, .69, .49, .95);
        }
        .image{
            display: block;
            width: 100%;
            height: 100%;
            margin-right: auto;
            background: url('../../../assets/images/home/classes-min.jpg') left top/ cover no-repeat ;
            @media screen and (max-width: 600px) {
                width: 100%;
                height: 92%;
                background-position: left bottom;
                margin-top: auto;
            }
        }
    }
    
    
    .content {
        padding: 2rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        & > div {
            opacity: 0;
            transform: translateY(30px);
            transition: all 1s cubic-bezier(.2, .69, .49, .95);
            will-change: transform, opacity;
        }
        &.visible {
            & > div {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .header{
            font-size: 2rem;
            font-weight: bold;
            transition-delay: .1s;
        }
        .text {
            text-align: left;
            margin: 1rem auto;
            transition-delay: .2s;
        }
        .link{
            margin-top: 2rem;
            transition-delay: .3s;
        }
        @media screen and (max-width: 600px) {
            left: 0;
            width: 80%;
            font-size: 1.2rem;
        }
    }
}

.ReviewsScreen {
    .wrapper {
        height: 100%;
        align-content: space-evenly;
        &.visible {
            .element {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }

        .element {
            padding: 1rem;
            opacity: 0;
            transform: translate3d(0, 30px,0);
            transition: all .5s cubic-bezier(.2, .69, .49, .95);
            will-change: transform, opacity;
            &:nth-child(1){
                transition-delay: .1s;
            }
            &:nth-child(2){
                transition-delay: .2s;
            }
            &:nth-child(3){
                transition-delay: .3s;
            }
            &:nth-child(4){
                transition-delay: .4s;
            }
            .reviewPhoto{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .photoUrl {
                width: 6rem;
                height: 6rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
            }
            .name{ 
                font-size: 1.5rem;
                text-align: start;
            }
            .review {
                margin-top: 2rem;
                font-size: 1.3rem;
                text-align: left;
            }
        }
    }
}

.ToursScreen{
    display: flex;
    padding-bottom: 7rem;
    
    .image{
        display: block;
        width: 100%;
        height: 100%;
        margin-right: auto;
        background: url('../../../assets/images/home/tours-min-reverse.png') right bottom/ cover no-repeat ;
        @media screen and (max-width: 600px) {
            width: 100%;
            height: 92%;
            background-position: left bottom;
            margin-top: auto;
        }
    }
    
    .content {
        padding: 2rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        // opacity: 0;
        // transform: translateX(-50px);
        // transition: all 1s ease .5s;
        & > div {
            opacity: 0;
            transform: translateY(30px);
            transition: all 1s cubic-bezier(.2, .69, .49, .95);
            will-change: transform, opacity;
        }
        &.visible {
            & > div {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .header{
            font-size: 2rem;
            font-weight: bold;
            transition-delay: .1s;
        }
        .text {
            text-align: left;
            margin: 1rem auto;
            transition-delay: .2s;
        }
        .link{
            margin-top: 2rem;
            transition-delay: .3s;
        }
        @media screen and (max-width: 600px) {
            left: 0;
            width: 80%;
            font-size: 1.2rem;
        }
    }
}

.GalleryScreen{
    display: flex; 
    flex-flow: column nowrap;
    .images {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        &.visible {
            .image {
                opacity: 1;
            }
        }
        // @media screen and (max-width: 600px) {
        //    margin-top: 4rem;
        //    transform: scale(.45)
        // }
        .image{
            position: relative;
            box-shadow: 0px 20px 20px rgba(0,0,0,.5);
            cursor: pointer;
            filter: brightness(1.1);
            opacity: 0;
            &:hover{
                filter: brightness(1.25);
                box-shadow: 0px 30px 30px rgba(0,0,0,.4);
            }
           
        }
        .image-1{
            width: 23rem;
            height: 30rem;
            background: url('../../../assets/images/home/gallery-1-min.jpg') left top/ cover no-repeat;
            transform: rotate(-5deg);
            z-index: 3;
            transition: opacity 1s ease .1s, transform .7s ease, filter .5s ease;
            &:hover {
                z-index: 10;
                transform: rotate(-5deg) scale(1.03);
            }
        }
        .image-2{
            width: 30rem;
            height: 23rem;
            background: url('../../../assets/images/home/gallery-2.jpg') left top/ cover no-repeat;
            transform: rotate(3deg);
            z-index: 2;
            transition: opacity 1s ease .2s, transform .7s ease, filter .7s ease;
            &:hover {
                z-index: 10;
                transform: rotate(3deg) scale(1.03);
            }
        }
        .image-3{
            width: 23rem;
            height: 30rem;
            background: url('../../../assets/images/home/gallery-3.jpg') left top/ cover no-repeat;
            transform: rotate(12deg) translateY(20px);
            z-index: 1;
            transition: opacity 1s ease .3s, transform .7s ease, filter .7s ease;
            &:hover {
                z-index: 10;
                transform: rotate(12deg) translateY(20px) scale(1.03);
            }
        }
    }
    .content {
        flex-grow: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & > div {
            opacity: 0;
            transform: translateY(30px);
            transition: all 1s cubic-bezier(.2, .69, .49, .95);
            will-change: transform, opacity;
        }
        &.visible {
            & > div {
                opacity: 1;
                transform: translateY(0);
            }
        }
        @media screen and (max-width: 600px) {
            display: block;
        }
        .text{
            font-size: 1.5rem;
            transition-delay: .1s;
        }
        .link{
            margin-top: 3rem;
            transition-delay: .2s;
         }
    }
}

.ArticlesScreen {
    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        background: url('../../../assets/images/home/articles-min.jpg') bottom center / contain no-repeat fixed;
        @media screen and (max-width: 600px) {
          height: calc(100% - 5rem);
          margin-top: 5rem;
         }

        .content {
            margin-top: 5rem;
            margin-right: 5rem;
            transition: all 1s ease;
            transform: translateY(30px);
            opacity: 0;
            &.visible {
                transform: translateY(0);
                opacity: 1;
            }

            @media screen and (max-width: 600px) {
                background-color: #d2d2d2a4;
                width: 80%;
                margin: 2rem auto;
                padding: 1rem;
               }
            .text {
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
        }
    }
}

.AboutScreen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .image{
        width: 70%;
        height: 80%;
        margin: 0 auto;
        background: url('../../../assets/images/home/about-min.jpg') center center/ 100% auto no-repeat ;
        box-shadow: 0 15px 20px -5px;
        @media screen and (max-width: 600px) {
            margin-top: 5rem;
           }
    }
    
    .content {
        flex-grow: 1;
        padding: 1rem;
        display: flex;
        margin: 0 auto;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        opacity: 0;
        transform: translateY(30px);
        transition: all 1s ease ;
        &.visible {
            transform: translateY(0);
            opacity: 1;
        }
        .link{
            margin-top: 2rem;
         }
        //  .footer {
        //     align-self: stretch;
        //     padding-top: 3rem;
        //     font-size: 2rem;
        //     color: #333;
        //     display: flex;
        //     flex-flow: row;
        //     align-items: center;
        //     justify-content: space-between;
        //     a{
        //         transition: all .3s ease;
        //         &:hover{
        //             transform: scale(1.3)
        //         }
        //     }
        // }
    }
}

.ContactsScreen {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

    & > div {
        margin: 1rem 0;
    }

    .email,
    .socials {
        a{
            display: flex;
            align-items: center;
            svg {
                transform: translateY(3px)
            }
            p {
                margin: 0 0 0 2rem;
            }
        }
    }
    .socials {
        a {
            color: #3b5998;
        }
    }

    .development {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.2rem;
    }
}