.root {
    padding: 0 10rem;
    @media screen and (max-width: 1280px) {
        padding: 0 8rem;
    }
     @media screen and (max-width: 960px) {
        padding: 0 1rem;
    }
    .container {
        .user {
            padding: 5rem;
            padding-top: 0;
            opacity: 1;

            @media screen and (max-width: 1280px) {
                padding: 3rem 4rem;
            }
            @media screen and (max-width: 960px) {
                padding: 1rem 2rem;
            }
            .image {
                margin: 0 auto;
                max-width: 350px;
                min-height: 300px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                filter: grayscale(10%);
            }
            .details {
                margin-top: 2rem;
                font-size: 1.5rem;
                .name {
                    font-size: 2rem;
                    font-weight: bold;
                    margin-bottom: 2rem;
                }
                .socials {
                    a{
                        margin: 1rem auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 2rem;
                        color: #3b5998;
                        p {
                            margin: 0 0 0 1rem;
                        }
                    }
                }
            }
        }
    }
}



