.root {
    padding: 0 3rem;
    @media screen and (max-width: 600px){
        padding: 0;
    }
}
.container {
    .title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .link{
        text-align: center;
        a {
            margin: 0 auto;
            width: 100%;
        }
    }
}

.blogLink,
.articleLink {
    display: block;
    position: relative;
    &__header{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        background-color: #80808091;
        font-size: 1.7rem;
        padding: 1rem 2rem;
        color: white;
        pointer-events: none;
        z-index: 100;
    }
    &__image{
        height: 30rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__link {
        text-align: center;
        a {
            height: 30rem;
            margin: 0 auto;
            width: 100%;
        }
    }
}
