.root {
    padding: 0 3rem;
    @media screen and (max-width: 600px){
        padding: 0;
    }
}
.container {
    margin-top: 4rem !important;
    opacity: 0;
    transform: translateY(30px);
    animation: show 1s ease .5s forwards;
    .title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .link{
        text-align: center;
        a {
            margin: 0 auto;
            width: 100%;
        }
    }
}

.blogLink,
.articleLink {
    display: block;
    &__header{
        font-size: 2rem;
        padding: 1rem 2rem;
    }
    &__image{
        height: 30rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__link {
        text-align: center;
        a {
            height: 30rem;
            margin: 0 auto;
            width: 100%;
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}