.root {
    padding: 1rem 5rem;
    position: relative;
    @media screen and (max-width: 600px) {
        padding: 0;
    }
    img {
        width: 100%;
    }
    p {
        text-align: left;
        font-size: 1.3rem;
    }
}
