.root {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    font-size: 2rem;
}
.email {
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            transform: translateY(3px)
        }
        p {
            margin: 0 0 0 2rem;
        }
    }
}
.socials{
    margin: 4rem auto 0 auto;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    a {
        opacity: 0;
        transform: translateY(30px);
        animation: show .8s ease forwards;
    }
    .facebook{
        animation-delay: .5s;
    }
    .google{
        animation-delay: .6s;
    }
    .instagram{
        animation-delay: .7s;
    }
    .twitter{
        animation-delay: .8s;
    }
}

.development {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}