.root {
    padding: 0 4rem;
    @media screen and (max-width: 600px) {
        padding: 0;
    }
}
.main {
    padding: 5rem;
    padding-top: 2rem;
    max-width: 1920px;
    margin: 0 auto;
    @media screen and (max-width: 600px) {
        padding: 0;
    }
}
.section {
    margin-bottom: 6rem; 
}
.card {
    background-color: white;
    opacity: 0;
    transform: translateY(30px);
    animation: apearFromBottom 1s ease  forwards;
    box-shadow: 0 20px 30px -10px #333;
}


@keyframes apearFromBottom {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
