.root {
    padding: 0 4rem;
    @media screen and (max-width: 600px) {
        padding: 0;
    }
}
.programs {
    padding: 5rem;
    padding-top: 2rem;
    max-width: 1920px;
    margin: 0 auto;
    @media screen and (max-width: 600px) {
        padding: 0;
    }
}