.main {
    padding: 0 8rem;
    @media screen and (max-width: 960px) {
        padding: 0 5rem;
    }
    @media screen and (max-width: 600px) {
        padding: 0 0;
    }
}

.content {
    margin-top: 1rem;
    .menu {
        padding: 3rem;
        .item {
            padding: 3rem 1rem;
            font-size: 1.3rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            border-left: 1px solid transparent;

            &.selected {
                background-color: #d8d6d685;
            }
            
            .date {
                font-weight: bold;
            }
        }
    }
    .details {
        padding: 1rem 0 5rem 0;
        @media screen and (max-width: 600px) {
            padding: 1rem 0 1rem 0;
        }
    }
}
.sidebar {
    padding: 2rem;
    font-size: 1.5rem;
    text-align: start;
    span {
        font-weight: bold;
    }
    a {
        display: block;
        padding: 2rem 1rem;
        &:hover {
            background-color: rgba(168, 167, 167, 0.329);
        }
    }
}
