.root {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    // @media screen and (max-width: 600px){
    //     background-color: rgba(128, 128, 128, 0.37);
    // }
    
}
.logo {
    font-size: 2rem;
    display: flex;
    align-items: center;
    pointer-events: auto;

    cursor: pointer;

    img {
        width: 4rem;
        height: 4rem;
    }
    .title {
        margin-left: 2rem;
        font-size: 2rem;
    }
}
.sidebar {
    padding: 2rem 6rem;
    height: 100%;
}

