.root {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
}
.logo {
    font-size: 2rem;
    display: flex;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;

    img {
        width: 4rem;
        height: 4rem;
    }
    .title {
        margin-left: 2rem;
        font-size: 2rem;
    }
}
.sidebar {
    padding: 2rem 6rem;
    height: 100%;
}

