.Header {
    padding: 0 2rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #efefef;
    .logo {
        font-size: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            width: 40px;
            height: 40px;
            margin-right: 1rem;
        }
    }
}

.sidebarMenu{
    padding: 2rem 3rem;
    .link{
        margin: 1rem 0;
        text-align: center;
        text-transform: uppercase;
        display: block;
        font-size: 2rem;
        color: #444;
        transition: all .5s ease-out;

        &:hover{
            transform: translateX(20px)
        }

        &.active {
            text-decoration: underline;
            &:hover{
                transform: translateX(0)
            }
        }
    }
}