.Layout {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    
    .header {
       height: 60px;
       position: fixed;
       left: 0;
       top: 0;
       right: 0;
       z-index: 100;
    }
    .content {
        margin-top: 60px;
        padding: 0 2rem;
        position: relative;
    }
}

.Home {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.PageDetails {
    padding: 2rem 4rem;
    padding-bottom: 0;

    &__header{
        font-size: 3rem;
        border-bottom: 1px solid gray;
        margin: 1rem 0;
        padding: 0 2rem;

        &__text{
            opacity: 0;
            transform: translateX(40px);
            animation: apearFromRight 2s ease forwards;
        }
    }

    &__description{
        font-size: 1.3rem;
        margin-top: 2rem;
    }

    &__list{
        padding: 5rem;

    }
}

.Groups{
    &__elem{
        margin-bottom: 8rem; 
    }
    &__item{
        background-color: white;
        opacity: 0;
        transform: translateY(30px);
        animation: apearFromBottom 1s ease .5s forwards;
        box-shadow: 0 20px 30px -10px #333;
    }
}

@keyframes apearFromBottom {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes apearFromRight {
    0% {
        opacity: 0;
        transform: translateX(40px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
