.root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: #333333a4;
    cursor: pointer;
    padding: 2rem;
    opacity: 0;
    animation: show .5s ease forwards;
    .navButton {
        position: fixed;
        top: 50%;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 50%;
        background-color: rgb(88, 87, 87);
        color: white;
        transform: translateY(-50%);
        z-index: 300;
        transition: background-color .5s ease;
        &:hover {
            background-color: rgb(70, 69, 69);
        }
        svg{
            display: block;
        }
    }

    .prevImage {
      left: 2rem;
    }
    .nextImage{
      right: 2rem;
    }
}

.image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}