html {
  @media screen and (max-width: 1920px) {
    font-size: 12px;
  }
  @media screen and (max-width: 960px) {
    font-size: 10px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Jura", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

pre {
  font-family: -apple-system, BlinkMacSystemFont, "Jura", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: pre-wrap;
}

a {
  color: inherit;
  text-decoration: none;
}
