.root {
    padding: 2rem;
}

.createButton {
    position: fixed;
    right: 4rem;
    bottom: 4rem;
}

.card {
    margin-bottom: 3rem;
    background-color: #c5c5c5ed;
    border-radius: 5px;
    overflow: hidden;
    font-size: 1.3rem;

    &__datetime {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
    }
    &__image {
        min-height: 20rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

    }
    &__content {
        display: flex;
        flex-flow: column nowrap;
        p {
            font-size: 1.3rem;
        }
    }
    &__buttons {
        margin-top: auto;
        button {
            margin: 1rem 2rem;
        }
    }
}