.root {
    padding: 2rem;
    padding-bottom: 4rem;
}

.createButton {
    position: fixed;
    right: 4rem;
    bottom: 4rem;
}

.card {
    margin-bottom: 3rem;
    background-color: #c5c5c5ed;
    border-radius: 5px;
    overflow: hidden;
    font-size: 1.3rem;

    &__datetime {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
    }
    &__image {
        min-height: 20rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

    }
    &__content {
        display: flex;
        flex-flow: column nowrap;
        p {
            font-size: 1.3rem;
        }
    }
    &__buttons {
        margin-top: auto;
        button {
            margin: 1rem 2rem;
        }
    }
}

.imagePreview {
    width: 30rem;
    height: 22rem;
    margin: 0 auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.delete {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease;
    background-color: rgba(182, 182, 182, 0.493);
    &:hover {
        background-color: black;
        color: white
    }
    svg {
        display: block;
    }
}


.blogLink,
.articleLink {
    position: relative;
    display: block;
    &__header{
        font-size: 2rem;
        padding: 1rem 2rem;
    }
    &__image{
        height: 30rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__link {
        text-align: center;
        a {
            height: 30rem;
            margin: 0 auto;
            width: 100%;
        }
    }
}