.root{
    opacity: 0;
    transform: translateY(20px);
    animation: show 1s ease 0s forwards;

    .header {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .container{
        margin-bottom: 15rem;
        box-shadow: 0 5px 30px rgba(51, 51, 51, 0.22);
        background-color: #efefef;
        .image__wrapper {
            position: relative;
            min-height: 30rem;
            .image {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: cover;
            }
        }
            
        .content {
            padding: 4rem 2rem;
            font-size: 1.5rem;

            .ltr{
                text-align: left;
                border-left: 2px solid transparent;
                padding-left: 1rem;
            }
            .rtl{
                text-align: right;
                border-right: 2px solid transparent;
                padding-right: 1rem;
            }
            .item {
                margin-bottom: 4rem;
                cursor: pointer;
                &.selected {
                    border-color: #333;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &__header{
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    font-weight: bold;
                }
                &__content{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}