.root{
    opacity: 0;
    transform: translateY(40px);
    animation: show 1s ease .5s forwards;

    .header {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .container{
        margin-bottom: 10rem;
        box-shadow: 0 5px 30px rgba(51, 51, 51, 0.486);
        .image__wrapper {

            .image {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                font-weight: bold;
                background-position: center center;
                background-size: cover;

                p{
                    display: inline-block;
                    padding: 1rem;
                }

                &_selected{
                    p{
                        text-shadow: white 0 0 30px ;
                    }
                }
            }
        }
            
        .content {
            padding: 4rem 2rem;

            .ltr{
                text-align: left;
                border-left: 2px solid transparent;
                padding-left: 1rem;
            }
            .rtl{
                text-align: right;
                border-right: 2px solid transparent;
                padding-right: 1rem;
            }
            .item {
                margin-bottom: 2rem;
                cursor: pointer;
                &:hover,
                &.selected {
                    border-color: #333;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &__header{
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
                &__content{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}